@use "costum";

//IMPORT COMPONENT
@use "component/button";
@use "component/mixin";
@use "component/swiper";
@use "component/cardComment";
//IMPORT SECTION
@use "section/landingPage";
@use "section/navbar";
@use "section/intro";
@use "section/collection";
@use "section/productsSummary";
@use "section/categoryNav";
@use "section/products";
@use "section/consultation";
@use "section/comments";
@use "section/lauraBeauty";
@use "section/footer";
body{
  //width: 1920px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


