@use "../costum" as *;
@use '../component/mixin' as *;
.introSection {
  &__intro {
    h1 {
      font-weight: bold;
      font-size: 80px;
      margin: 5rem auto;

      span {
        @include mainColor
      }
    }

    p {
      font-weight: bold;
    }
  }

  button {
    @include btn;
    font-weight: 600;
    letter-spacing: 0.96px;
    padding: 10px 25px 10px 25px;
    text-transform: capitalize;
    margin: 44px 0 44px 0;
  }
}
