.homePage {
  background-image: url('https://cdn.zeplin.io/627f43352cb7c62b5ef18987/assets/cc0f3e41-1265-4d60-98d6-c52724ef0eef-optimized.png');
  background-size: cover;
  object-fit: contain;
  width: auto;
  height: 800px;
}