@use "../costum" as *;
.lauraBeauty {
  margin: 5rem auto;

  h2 {
    font-weight: bold;

    span {
      color: $primary;
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #999;
  }
}