@use "../costum" as *;
.navbarSection {
  font-weight: 600;
  font-size: 18px;


  &__activeTab:after {
    content: '';
    display: block;
    position: relative;
    width: 20%;
    border: 1.2px solid $primary;
    //margin-top: 8px;
    margin-left: 2.5rem;
    text-align: center;
  }


  &__iconPart {

    li {
      padding: 1rem;
    }
  }
}


