@use "../costum" as *;
@use "../component/mixin" as *;

.productSummary {
  background-color: $primary;

  h2 {
    border-bottom: 1px solid #ddd;
    line-height: 0.1em;
    margin-bottom: 5rem;
    margin-top: 130px;

    span {
      background: #f7f3f0;
      padding: 0 10px;
    }
  }

    &__imageContainer {
    background-color: #ffffff;
    //max-width: 80vw;
    //margin-top: 130px;

    img {
      height: 100%;
      padding: 0;
      background-color: #f7f3f0;
    }


    &__counter {
      font-weight: bold;
      font-size: 8rem;
      color: #cccccc;
      padding: 0;
      margin: 0;

      &__pinkItem {
        font-weight: bold;
        font-size: 7rem;
        color: #c24b71;
        padding: 0;
        margin: 0;

      }

      span {
        font-size: 4rem;

      }
    }

    &__item {
      font-size: 20px;
      font-weight: 600;
      color: #cccccc;
      padding: 0;
      margin: 0;


      &__pink {
        color: $primary;
        font-size: 20px;
        font-weight: 600;
        padding: 0;
        margin: 0;

      }
    }
  }

  &__navbar {
    .nav-link {
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      letter-spacing: 0.96px;
      color: #271d20;
    }

  }
}