@use "../costum" as *;
@use "../component/mixin" as *;
.productSummary{
  background-color: $primary;
  h2{
    border-bottom: 1px solid #ddd;
    line-height: 0.1em;
    margin-bottom: 5rem;
    margin-top: 130px;
    span {
      background: #f7f3f0;
      padding: 0 10px;
    }
  }
  .imageContainer {
    margin: auto;
    @include media-breakpoint-down(lg){
    img{
      display: none;
    }
    }
    &__counter {
      font-weight: bold;
      font-size: 8rem;
      color: #cccccc;

      span {
        font-size: 4rem;
      }
    }

    .item {
      font-weight: bold;
      &__pink {
        color: $primary;
      }
    }
  }
}