@use "../costum" as *;
@use "../component/mixin" as *;

.consultation {
  align-items: center;
  justify-content: center;

  &__consultationBox {
    border: none;
    object-fit: cover;

    img {
      width: 40rem;
      height: 20rem;
      margin: auto;
    }

  }

  form {
    input {
      border: solid 1px #ccc;
      width: 20rem;
      border-radius: 30px;
      padding: 0.8rem;
      margin: 2rem auto;
    }

    button {
      @include btn;
      padding: 0.8rem 2rem;
      border-radius: 30px;
    }
  }


  h2 {
    font-weight: bold;
    min-width: 2rem;
  }

}