@use "../costum" as *;
@use "../component/mixin" as *;

.consultation {
  align-items: center;
  justify-content: center;

  &__consultationBox {
    border: none;

    img {
      width: 100%;
      height: 100%;
      margin: auto;
    }

  }

  form {
    input {
      border: solid 1px #ccc;
      width: 25rem;
      border-radius: 30px;
      padding: 0.6rem;
      margin: 2rem auto;
    }

    button {
      @include btn;
      padding: 0.6rem 2rem;
      border-radius: 30px;
    }
  }


  h2 {
    font-weight: bold;
    font-size: 2.5rem;

  }

}