<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link href="/assets/css/style.css" rel="stylesheet">
    <title>LAURA</title>
</head>
<body>
<!--NAVBAR SECTION-->
<section class=" homePage">
    <div class="container">
        <nav class="navbar navbar-expand-lg justify-content-end">
            <div class="container-fluid">
                <div class="d-flex justify-content-start">
                    <img src="images/img.svg">
                    <div class="m-1">
                        <p class="h3 text-primary fw-bold">Laura</p>
                        <p class="h6">Beauty</p>
                    </div>
                </div>

                <button class="navbar-toggler bg-primary " type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center navbarSection" id="navbarNav">
                    <ul class="navbar-nav nav-pills">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black" aria-current="page" href="#">Brands</a>
                        </li>
                        <li class="nav-item navbarSection__activeTab">
                            <a class="nav-link active bg-transparent text-primary" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">Branches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse navbarSection__iconPart">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <img alt="search" src="images/search-interface-symbol.svg">
                    </li>
                    <li class="nav-item">
                        <img alt="user" src="images/ic%20user.svg">
                    </li>
                    <li class="nav-item">
                        <img alt="shopping" src="images/shopping-bag-of-normal-design-outline.svg">
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!--INTRO SECTION-->
    <section id="home" class="container introSection">
        <div class="row">
            <div class="col-md-6 introSection__intro">
                <h1>
                    Look <br/> M<span>o</span>re Beautiful With Us
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua Egestas purus viverra.</p>
                <button class="btn">shop now</button>
            </div>
        </div>

    </section>
</section>
<!--collection section-->
<section class="container collection">
    <h2 class="collection__title text-center"><span>A collection of best</span></h2>
    <div class="container">
        <div style="height: auto" class="row row-cols-sm-2  row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-5 ">
            <div class="col align-self-sm-start align-self-md-center">
                <div class="card border-0  text-center collection__card">
                    <img src="images/channel.png"
                         class="card-img-top" alt="channel">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">channel</h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-start">
                <div class="card border-0  text-center collection__card elf">
                    <img src="images/elf.svg" class="card-img-top collection__brandCard__img" alt="elf">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-white">elf</h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-center">
                <div class="card border-0  text-center collection__card">
                    <img src="images/givenchi.svg" class="card-img-top collection__brandCard__img" alt="givenchy">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">givenchy</h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-start">
                <div class="card border-0  text-center collection__card">
                    <img style="width: 40px;margin: 1rem auto" src="images/clinq.svg"
                         class="card-img-top collection__brandCard__img Clinique" alt="Clinique">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Clinique</h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-center">
                <div class="card border-0  text-center collection__card">
                    <img src="images/estee.svg"
                         class="card-img-top" alt="estee">
                    <div class="card-body">
                        <h5 style="" class="card-title text-uppercase">estee </h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-center">
                <div class="card border-0  text-center collection__card">
                    <img style="width: 40px;margin: 1rem auto" src="images/clinq.svg"
                         class="card-img-top collection__brandCard__img Clinique" alt="Clinique">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Clinique</h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-center">
                <div class="card border-0  text-center  collection__card">
                    <img src="images/estee.svg"
                         class="card-img-top" alt="estee">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">estee</h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-center">
                <div class="card border-0  text-center collection__card">
                    <img src="images/channel.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">channel</h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-center">
                <div class="card border-0  text-center collection__card">
                    <img src="images/pink-elf.svg" class="card-img-top collection__brandCard__img" alt="elf">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">elf</h5>
                    </div>
                </div>
            </div>
            <div class="col align-self-sm-start align-self-md-center">
                <div class="card border-0  text-center collection__card">
                    <img src="images/givenchi.svg" class="card-img-top collection__brandCard__img" alt="givenchy">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">givenchy</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--product summary section-->
<section class="products p-5  productSummary">
    <div class="container ">
        <h2 class=" text-center fw-bold mt-5"><span>Various products</span></h2>
        <div class=" bg-white productSummary__imageContainer">
            <div class="row  row-cols-md-5">
                <div class="col-12 d-none d-lg-block  text-center d-sm-none d-md-block align-self-center productSummary__imageContainer__leftImage">
                    <img src="images/left.png" alt="img">
                </div>
                <div class="col-12 col-sm-4 text-center align-self-center">
                    <p class="text-center productSummary__imageContainer__counter__pinkItem">6</p>
                    <p class="text-center h6 productSummary__imageContainer__item__pink">category</p>
                </div>
                <div class="col-12 col-sm-4 text-center align-self-center">
                    <p class="text-center productSummary__imageContainer__counter">10</p>
                    <p class="text-center h6 productSummary__imageContainer__item">brands</p>
                </div>
                <div class="col-12 col-sm-4 text-center align-self-center">
                    <p class="text-center productSummary__imageContainer__counter">9<span>k</span></p>
                    <p class="text-center h6 productSummary__imageContainer__item">product</p>
                </div>
                <div class="col-12 d-none d-lg-block text-center d-sm-none d-md-block align-self-center">
                    <img class="rounded" alt="pallet" src="images/img%20r.png">
                </div>
            </div>
        </div>
        <div class="categories mt-5 productSummary__navSection">
            <nav class="nav nav-pills nav-fill d-flex align-items-center productSummary__navbar">
                <a class="nav-link active" aria-current="page" href="#">face</a>
                <a class="nav-link " href="#">lip</a>
                <a class="nav-link " href="#">eye</a>
                <a class="nav-link" href="#">eyebrow</a>
                <a class="nav-link " href="#">fingernail</a>
                <a class="nav-link " href="#">cosmetic tools</a>
            </nav>
        </div>
        <!--product section-->
        <section class="mt-4 productSection">
            <div class=" products">
                <div class="row row-cols-md-1 g-4">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="col">
                                    <div class="card  border-0 products__productCard">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="d-flex justify-content-between products__cardHeader">
                                                <img src="images/gray-like.svg">
                                                <span>new</span>
                                            </div>
                                        </div>
                                        <img src="images/make%20up%20palette%20box%20.png"
                                             class="card-img-top products__imageCard"
                                             alt="palette">
                                        <div class="card-body">
                                            <h5 class="card-title text-start">product name</h5>
                                            <div class="products__productInfo">
                                                <span>view details</span>
                                                <div class="products__footer">
                                                    <span>$240</span>
                                                    <button>+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col">
                                    <div class="card  border-0  products__productCard">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="d-flex justify-content-between products__cardHeader">
                                                <img src="images/pink-like.svg">
                                                <span>new</span>
                                            </div>
                                        </div>
                                        <img src="images/face%20cream.png" class="card-img-top products__imageCard"
                                             alt="cream">
                                        <div class="card-body">
                                            <h5 class="card-title text-start">product name</h5>
                                            <div class="products__productInfo">
                                                <span>view details</span>
                                                <div class="products__footer">
                                                    <span>$240</span>
                                                    <button>+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col">
                                    <div class="card  border-0 products__productCard">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="d-flex justify-content-between products__cardHeader">
                                                <img src="images/gray-like.svg">
                                                <span>new</span>
                                            </div>
                                        </div>
                                        <img src="images/make%20up%20palette%20box%20.png"
                                             class="card-img-top products__imageCard"
                                             alt="palette">
                                        <div class="card-body">
                                            <h5 class="card-title text-start">product name</h5>
                                            <div class="products__productInfo">
                                                <span>view details</span>
                                                <div class="products__footer">
                                                    <span>$240</span>
                                                    <button>+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col">
                                    <div class="card  border-0 products__productCard">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="d-flex justify-content-between products__cardHeader">
                                                <img src="images/pink-like.svg">
                                                <span>new</span>
                                            </div>
                                        </div>
                                        <img src="images/face%20cream.png" class="card-img-top products__imageCard"
                                             alt="cream">
                                        <div class="card-body">
                                            <h5 class="card-title text-start">product name</h5>
                                            <div class="products__productInfo">
                                                <span>view details</span>
                                                <div class="products__footer">
                                                    <span>$240</span>
                                                    <button>+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col">
                                    <div class="card  border-0 products__productCard">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="d-flex justify-content-between products__cardHeader">
                                                <img src="images/gray-like.svg">
                                                <span>new</span>
                                            </div>
                                        </div>
                                        <img src="images/make%20up%20palette%20box%20.png"
                                             class="card-img-top products__imageCard"
                                             alt="palette">
                                        <div class="card-body">
                                            <h5 class="card-title text-start">product name</h5>
                                            <div class="products__productInfo">
                                                <span>view details</span>
                                                <div class="products__footer">
                                                    <span>$240</span>
                                                    <button>+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col">
                                    <div class="card  border-0 products__productCard">
                                        <div class="card-header bg-transparent border-0">
                                            <div class="d-flex justify-content-between products__cardHeader">
                                                <img src="images/pink-like.svg">
                                                <span>new</span>
                                            </div>
                                        </div>
                                        <img src="images/face%20cream.png" class="card-img-top products__imageCard"
                                             alt="cream">
                                        <div class="card-body">
                                            <h5 class="card-title text-start">product name</h5>
                                            <div class="products__productInfo">
                                                <span>view details</span>
                                                <div class="products__footer">
                                                    <span>$240</span>
                                                    <button>+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>

<!--request section-->
<section class="container consultation">
    <div class="card mb-3  consultation__consultationBox">
        <div class="row row-cols-auto  align-items-center justify-content-between mt-2">
            <div class="col-md-4 align-self-center">
                <img src="images/woman.png" class="img-fluid rounded-start" alt="woman">
            </div>
            <div class="col-md-8">
                <div class="card-body ">
                    <h2 class="card-title">Get a free consultation.</h2>
                    <h2 class="card-title">Just leave a request below</h2>
                    <form>
                        <input placeholder="your phone number">
                        <button class="btn">callback</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!--customer comments section-->

<section class="container comments">
    <h2 class="text-center"><span>customer comments</span></h2>
    <div style="height: 20rem" class="row">
        <div class="swiper Swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="col">
                        <div class="card comments__commentCard sideCard">
                            <img src="images/tommy.png" class="card-img-top" alt="Tomy">
                            <div class="card-body">
                                <h5 class="card-title">Tomy Sancho</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                    nonummy nibh
                                    euismod tincidunt ut
                                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                    nostrud exerci tation
                                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                                    autem vel eum iriure
                                    dolor in hendrerit in vulputate velit esse molestie</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col">
                        <div class="card comments__commentCard centerCard">
                            <img src="images/sara.png" class="card-img-top" alt="sara">
                            <div class="card-body">
                                <h5 class="card-title">Sara Rashford</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                    nonummy nibh
                                    euismod tincidunt ut
                                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                    nostrud exerci tation
                                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                                    autem vel eum iriure
                                    dolor in hendrerit in vulputate velit esse molestie</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col">
                        <div class="card comments__commentCard sideCard">
                            <img src="images/linda.png" class="card-img-top" alt="linda">
                            <div class="card-body">
                                <h5 class="card-title">Linda Romero</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                    nonummy nibh
                                    euismod tincidunt ut
                                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                    nostrud exerci tation
                                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                                    autem vel eum iriure
                                    dolor in hendrerit in vulputate velit esse molestie</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--lauraBeauty section-->
<section class="container lauraBeauty">
    <h2 class="text-center text-uppercase">laura <span>beauty</span></h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
        vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
        vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
        facilisi.</p>

</section>
<section class="container footer">
    <div class="row">
        <div class="col-12 footer__logo">
            <img src="images/footerLogo.svg">
        </div>
        <div class="col-12  footer__nav">
            <ul class="nav ">
                <li class="nav-item">
                    <a class="nav-link  text-black " aria-current="page" href="#">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">Branches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">About</a>
                </li>
            </ul>
        </div>
        <div class="col-12 footer__iconSvg">
            <img src="images/face.svg">
            <img src="images/tweet.svg">
            <img src="images/tweet.svg">
        </div>
    </div>

</section>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="js/swiper.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
