.card {
  &__comment {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 60px 60px 0 0;
    border: none;
    line-height: 1.56;
    color: #999;
    font-size: 16px;
    padding: 1rem;
    font-weight: 500;
    width: 600px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;

    &__corner {
      background-color: #f0f5f8;
      border-radius: 60px 60px 0 0;
      border: none;
      line-height: 1.56;
      color: #999;
      font-size: 16px;
      padding: 1rem;
      font-weight: 500;
      width: 600px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
    }
  }
}
