@mixin btn {
  background-color: #c24b71;
  color: #ffffff;
}

@mixin mainColor {
  color: #c24b71;
}

@mixin commentCard {
  border-radius: 60px 60px 0 0;
  border: none;
  line-height: 1.56;
  color: #999;
  font-size: 16px;
  padding: 1rem;
  font-weight: 500;
  width: 39rem;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$x-largeWidth: 1200px;
$xx-largeWidth: 1400px;

@mixin extra-Small {
  @media (max-width: #{$smallWidth - 1px}) {
    @content;
  }
}

@mixin small-down {
  @media (max-width: #{$mediumWidth}) {
    @content;
  }
}

@mixin small-only {
  @media (min-width: #{$smallWidth}) and (max-width: #{$mediumWidth - 1px}) {
    @content;
  }
}

@mixin small-up {
  @media (min-width: #{$smallWidth}) {
    @content;
  }
}

@mixin medium-only {
  @media (min-width: #{$mediumWidth}) and (max-width: #{$largeWidth - 1px}) {
    @content;
  }
}

@mixin medium-up {
  @media (min-width: #{$mediumWidth}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$largeWidth}) {
    @content;
  }
}
@mixin large-Down {
  @media (max-width: #{$largeWidth}) {
    @content;
  }
}
